@use "../setting/index" as *;

// // 초대형 화면용 (1471px 이상)
// @include respond-min("desktop") {
// }

// // 1024px 이하
// @include respond-max("laptop") {
// }

// // 768px 이하
// @include respond-max("tablet") {
// }

// // 430px 이하
// @include respond-max("mobile-l") {
// }

// // 393px 이하
// @include respond-max("mobile-m") {
// }

#header {
  width: 100%;
  height: 66px;
  background-color: var(--black);
  color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;

  .header_wrap {
    width: 1374px;
    height: 100%;
    margin: 0 auto;
    position: relative;

    @include respond-min("desktop") {
      width: 1720px;
    }

    @include respond-max("laptop") {
      width: 100%;
      padding: 0 2rem;
    }
  }
}

#main {
  width: 100%;
  height: auto;

  .main_wrap {
    width: 1374px;
    margin: 0 auto;

    @include respond-min("desktop") {
      width: 1720px;
    }
  }
}

#footer {
  width: 100%;
  position: relative;
}

// 전체 fadein 효과
.fadein_gsap {
  opacity: 0;
  transform: translateY(50px);
  will-change: opacity, transform;
}
