@use "../setting/index" as *;

.main_ticket {
  width: 100%;
  height: 664.45px;
  padding: 5rem 0;
  background-image: url(../../img/bg/ticket_bg.jpg);
  position: relative;
  display: flex;
  justify-content: center;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.731);
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .main_ticket_wrap {
    width: 1374px;
    position: relative;
    z-index: 2;

    h3 {
      position: relative;
      display: inline-block;
      padding-right: 2.5625rem;
      color: white;
      margin-bottom: 5rem;

      .ticket_title {
        font-size: 3.125rem;
        font-weight: bold;
        line-height: 1.2em;
      }

      .ticket_title_num {
        position: absolute;
        display: block;
        top: -0.25rem;
        right: 0;
        font-size: 1.875rem;
        line-height: 1.2em;
      }
    }

    .ticket_con {
      background-color: aqua;
      display: flex;
      justify-content: center;

      .ticket_con_wrap {
        width: 1144px;
        height: 356.82px;
        display: flex;
        align-items: center;

        .ticket_left {
          width: 2.7rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .left_bg {
            width: 100%;
            height: 273.63px;
            background-color: white;
            position: relative;
            display: block;

            &::before {
              content: '';
              background-image: url(../../img/bg/ticket_left_top.png);
              background-size: 2.7rem 2.7rem;
              width: 2.7rem;
              height: 2.7rem;
              position: absolute;
              top: -2.6rem;
              left: 0;
              z-index: 1;
            }
            
            &::after{
              content: '';
              background-image: url(../../img/bg/ticket_left_bottom.png);
              background-size: 2.7rem 2.7rem;
              width: 2.7rem;
              height: 2.7rem;
              position: absolute;
              bottom: -2.6rem;
              left: 0;
            }
          }
        }

        // 티켓 센터
        .ticket_center {
          width: 100%;
          height: 100%;
          background-color: white;
          padding: 1.375rem 1.375rem;
          display: flex;

          .center_img{
            width: calc(100% - 69.21%);
          }

          .center_right{
            width: 69.21%;
            
          }
        }

        .ticket_right {
          width: 2.7rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .right_bg {
            width: 100%;
            height: 273.63px;
            background-color: white;
            position: relative;
            display: block;

            &::before {
              content: '';
              background-image: url(../../img/bg/ticket_right_top.png);
              background-size: 2.7rem 2.7rem;
              width: 2.7rem;
              height: 2.7rem;
              position: absolute;
              top: -2.6rem;
              right: 0;
            }
            
            &::after{
              content: '';
              background-image: url(../../img/bg/ticket_right_bottom.png);
              background-size: 2.7rem 2.7rem;
              width: 2.7rem;
              height: 2.7rem;
              position: absolute;
              bottom: -2.6rem;
              right: 0;
            }
          }
        }
      }
    }
  }
}

.news {
  width: 100%;
  margin: 0 auto;
  height: 436.235px;
  background-color: darkkhaki;
}

.media_wall {
  width: 100%;
  margin: 0 auto;
  height: 1480px;
  background-color: mediumpurple;
}
