@use "../setting/index" as *;

.ticket {
  width: 100%;
  margin: 0 auto;
  height: 664.45px;
  background-color: cornsilk;
}

.news {
  width: 100%;
  margin: 0 auto;
  height: 436.235px;
  background-color: darkkhaki;
}

.media_wall {
  width: 100%;
  margin: 0 auto;
  height: 1480px;
  background-color: mediumpurple;
}
