.logo_header {
  width: 100px;

  .logo_header_link {
    display: block;
    width: 6rem;
    height: 2.125rem;
    background-image: url(../../img/logo/logo.svg);
  }
}

.primary_menu {
  width: auto;

  .primary_menu_box {
    @include flex-center;

    li {
      font-size: 1.063rem;
      padding: 1rem 1.125rem;
      line-height: 1.2em;
      position: relative;
      cursor: pointer;
      font-weight: 600;
      color: #fff;

      &::after {
        content: "";
        position: absolute;
        bottom: 0.7rem;
        left: 1.125rem;
        right: 1.125rem;
        height: 1.2px;
        background-color: var(--white);
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:hover::after {
        opacity: 1;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }

    .primary_menu_2 {
      .depth2 {
        display: none;
      }
    }

    .primary_menu_pro_1 {
      .color {
        padding-right: 1.25rem;

        &::before {
          content: "";
          width: calc(100% - 1rem);
          height: calc(100% - 1.5rem);
          border-radius: 100px 100px;
          background-color: #f246ac;
          z-index: -1;

          @include absolute-center;
        }

        //화이트 화살표
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 15%;
          transform: translateY(-50%);
          width: 0.875rem;
          height: 0.875rem;
          background-image: url(../../img/icon/primary_menu_ico.svg);
          background-size: 0.875rem 0.875rem;
          margin-top: -1px;
        }

        &:hover {
          color: #f246ac;

          //보더래디어스
          &::before {
            background-color: var(--white);
          }

          //핑크 화살표
          &::after {
            background-image: url(../../img/icon/primary_menu_ico_p.svg);
          }
        }
      }
    }
  }
}

//헤더 우측 서치영역
.header_search {
  width: 320px;
  height: 2.6rem;
  @include flex-between-center;
  position: relative;

  .header_promotion {
    font-size: 1.0625rem;
    line-height: 1.1em;
    font-weight: bold;
    border-right: 1px solid #4b4b4b;
    padding-right: 2.7rem;
    margin-right: 1.375rem;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15%;
      background-image: url(../../img/icon/header_search_arrow.svg);
      background-size: 1rem 1rem;
      margin-top: -1px;
    }
  }

  .header_lang {
    margin-right: 1.7rem;

    .header_lang_box {
      display: flex;
      font-size: 1.063rem;
      line-height: 1.2em;
      color: #fff;

      .kor {
        margin-right: 0.625rem;
      }
    }
  }

  //우측 서치 아이콘 영역
  .header_search_link {
    //돋보기 오픈
    .header_search_link_open {
      display: block;
      background-image: url(../../img/icon/header_search.svg);
      background-size: 1.813rem 1.75rem;
      width: 1.813rem;
      height: 1.75rem;
      transition-property: transform, opacity, visibility;
      transition-duration: 0.2s;

      // 돋보기 꺼짐
      &.active {
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
      }
    }

    //닫기 아이콘
    .header_search_link_close {
      position: absolute;
      top: 16%;
      right: 3;
      transform: translateY(-50%);
      background-image: url(../../img/icon/header_search_close.svg);
      background-size: 1.813rem 1.75rem;
      width: 1.813rem;
      height: 1.75rem;
      transition-property: transform, opacity, visibility;
      transition-duration: 0.2s;
      opacity: 0;
      visibility: hidden;
      transform: scale(0);

      //닫기 켜짐
      &.active {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        z-index: 1;
      }
    }
  }

  //헤더 오픈 서치바 영역
  .search_bar {
    display: none;

    &.active {
      display: block;
    }

    //헤더 서치 인풋 돋보기 아이콘
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 22rem;
      width: 1rem;
      height: 1rem;
      background-image: url(../../img/icon/header_search.svg);
      background-size: 1rem 1rem;
      transform: translateY(-50%);
    }

    //헤더 서치 인풋
    .search_bar_keyword {
      background-color: #333;
      position: absolute;
      top: 50%;
      right: 4rem;
      transform: translateY(-50%);
      width: 20rem;
      height: 2.6rem;
      border-radius: 0.4rem;
      padding: 0.52rem 4rem 0.52rem 2.7rem;
      transition-property: transform, opacity;
      transition-duration: 0.2s;
    }

    .search_bar_button {
      display: block;
      width: 2rem;
      background-color: #000;
      position: absolute;
      top: 0.4rem;
      right: 4.4rem;
      bottom: 0.4rem;
      border-radius: 0.3rem;
      cursor: pointer;

      //버튼 어로우
      &::after {
        content: "";
        width: 1.1rem;
        height: 0.79rem;
        background-image: url(../../img/icon/header_search_button_arrow.svg);
        background-size: 1.1rem 0.79rem;

        @include absolute-center;
      }
    }

    .keyword_area {
      background-color: var(--black);
      position: absolute;
      top: 120%;
      right: 0;
      width: 384px;
      height: 138px;
      padding: 1.563rem;

      .title {
        font-size: 0.875rem;
        line-height: 1.2em;
        font-weight: bold;
        margin-bottom: 1.25rem;
      }

      .keyword_list {
        font-size: 1rem;
        line-height: 1.4em;

        ul li {
          display: inline-block;
          padding: 0.188rem 1rem 0.188rem 0;
        }
      }
    }
  }
}
