@use "../setting/index" as *;

// 탑버튼
.top_button{
    width: 2.75rem;
    height: 2.75rem;
    position: fixed;
    border: solid 2px #000;
    bottom: 1.25rem;
    right: 2rem;
    transition-duration: 0.2s;
    z-index: 9999;
    background-image: url(../../img/icon/top_button.svg);
    background-size: 1rem 1.125rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
    visibility: hidden;

    &.visible{
      opacity: 1;
      visibility: visible;
    }
  }

//챗봇 영역
.chatbot_container{
  width: 370px;
  height: 60vh;
  background-color: white;
  position: fixed;
  top: 1rem;
  right: 1.5rem;
  z-index: 999999;

  .chatbot_header{
    width: 370px;
    height: 70px;
    background-color: var(--blakc);
  }
}