// 프리텐다드

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"),
    url(../../fonts/pretendard/woff2/Pretendard-Black.woff2) format("woff2"),
    url(../../fonts/pretendard/woff/Pretendard-Black.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url(../../fonts/pretendard/woff2/Pretendard-ExtraBold.woff2) format("woff2"),
    url(../../fonts/pretendard/woff/Pretendard-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url(../../fonts/pretendard/woff2/Pretendard-Bold.woff2) format("woff2"),
    url(../../fonts/pretendard/woff/Pretendard-Bold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url(../../fonts/pretendard/woff2/Pretendard-SemiBold.woff2) format("woff2"),
    url(../../fonts/pretendard/woff/Pretendard-SemiBold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url(../../fonts/pretendard/woff2/Pretendard-Medium.woff2) format("woff2"),
    url(../../fonts/pretendard/woff/Pretendard-Medium.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url(../../fonts/pretendard/woff2/Pretendard-Regular.woff2) format("woff2"),
    url(../../fonts/pretendard/woff/Pretendard-Regular.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url(../../fonts/pretendard/woff2/Pretendard-Light.woff2) format("woff2"),
    url(../../fonts/pretendard/woff/Pretendard-Light.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"),
    url(../../fonts/pretendard/woff2/Pretendard-ExtraLight.woff2)
      format("woff2"),
    url(../../fonts/pretendard/woff/Pretendard-ExtraLight.woff) format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"),
    url(../../fonts/pretendard/woff2/Pretendard-Thin.woff2) format("woff2"),
    url(../../fonts/pretendard/woff/Pretendard-Thin.woff) format("woff");
}


// 팝핀
@font-face {
  font-family: "Poppins";
  font-weight: 100;
  src: local("Poppins Thin"),
    url("../../fonts/poppins/woff/Poppins-Thin.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: local("Poppins ExtraLight"),
    url("../../fonts/poppins/woff/Poppins-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: local("Poppins Light"),
    url("../../fonts/poppins/woff/Poppins-Light.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: local("Poppins Regular"),
    url("../../fonts/poppins/woff/Poppins-Regular.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: local("Poppins Medium"),
    url("../../fonts/poppins/woff/Poppins-Medium.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: local("Poppins SemiBold"),
    url("../../fonts/poppins/woff/Poppins-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: local("Poppins Bold"),
    url("../../fonts/poppins/woff/Poppins-Bold.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 800;
  src: local("Poppins ExtraBold"),
    url("../../fonts/poppins/woff/Poppins-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 900;
  src: local("Poppins Black"),
    url("../../fonts/poppins/woff/Poppins-Black.woff") format("woff");
}


// 노토산스
@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 100;
  font-style: normal;
  src: url("../../fonts/notosanskr/NotoSans-Thin.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 200;
  font-style: normal;
  src: url("../../fonts/notosanskr/NotoSans-Light.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/notosanskr/NotoSans-DemiLight.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/notosanskr/NotoSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/notosanskr/NotoSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/notosanskr/NotoSans-Black.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 900;
  font-style: normal;
  src: url("../../fonts/notosanskr/NotoSans-Bold.woff") format("woff");
}